Ex : 1
Make a dictionary containing three major rivers and the country each river runs through. One key-value pair might be 'nile': 'egypt'.

Use a loop to print a sentence about each river, such as The Nile runs through Egypt.
Use a loop to print the name of each river included in the dictionary.
Use a loop to print the name of each country included in the dictionary.
OUTPUT :
Nile runs through Egypt .

. River - Nile

. Location - Egypt

Amazon runs through South America

. River - Amazon

. Location - South America

AND SO ON ...

In [6]:
rivers = {
    'nile': 'egypt',
    'amazon': 'south america',
    'mississippi': 'united states',
        }

for river, country in rivers.items():
    print("\nThe " + river.title() + " runs through " + country.title() + ".")
    print("\n. River:", "- " + river.title())
    print("\n. Location:", "- " + country.title())

The Nile runs through Egypt.

. River: - Nile

. Location: - Egypt

The Amazon runs through South America.

. River: - Amazon

. Location: - South America

The Mississippi runs through United States.

. River: - Mississippi

. Location: - United States

Ex : 2a
Use a dictionary to store information about a person you know.Store their first name, last name, age, and the city in which they live. You should have keys such as first_name, last_name, age, and city. Print each piece of information stored in your dictionary.

In [7]:
person = {
    'first_name': 'Salman',
    'last_name': 'Ahmed',
    'age': 43,
    'city': 'Lahore',
    }

print(person['first_name'])
print(person['last_name'])
print(person['age'])
print(person['city'])

Salman
Ahmed
43
Lahore

Ex : 2b
Start with the program you wrote for Exercise 2a.Make two new dictionaries representing different people, and store all three dictionaries in a list called people. Loop through your list of people. As you loop through the list, print everything you know about each person.

In [8]:
# list for people
people = []

# Dictionary
person = {
    'first_name': 'salman',
    'last_name': 'ahmed',
    'age': 43,
    'city': 'lahore',
    }
people.append(person)

person = {
    'first_name': 'rashid',
    'last_name': 'jamil',
    'age': 35,
    'city': 'larkana',
    }
people.append(person)

person = {
    'first_name': 'noman',
    'last_name': 'khan',
    'age': 58,
    'city': 'quetta',
    }
people.append(person)

# Display all of the information in the dictionary.
for person in people:
    name = person['first_name'].title() + " " + person['last_name'].title()
    age = str(person['age'])
    city = person['city'].title()
    
    print(name + ", of " + city + ", is " + age + " years old.")

Salman Ahmed, of Lahore, is 43 years old.
Rashid Jamil, of Larkana, is 35 years old.
Noman Khan, of Quetta, is 58 years old.

Ex : 3
Make a dictionary called cities. Use the names of three cities as keys in your dictionary. Create a dictionary of information about each city and include the country that the city is in, its approximate population, and one fact about that city. The keys for each city’s dictionary should be something like country, population, and fact. Print the name of each city and all of the information you have stored about it.

In [9]:
cities = {
    'Islamabad': {
        'country': 'Pakistan',
        'population': 1433000,
        'fact': 'Faisal Mosque',
        },
    'Doha': {
        'country': 'Qatar',
        'population': 796947,
        'fact': 'Museum of Islamic Arts',
        },
    'London': {
        'country': 'England',
        'population': 14040163,
        'fact': 'Big ben',
        }
    }

for city, city_info in cities.items():
    country = city_info['country'].title()
    population = city_info['population']
    fact = city_info['fact'].title()

    print("\n" + city.title() + " is in " + country + ".")
    print("  It has a population of about " + str(population) + " people.")
    print("  The " + fact + " is interesting fact about this city.")

Islamabad is in Pakistan.
  It has a population of about 1433000 people.
  The Faisal Mosque is interesting fact about this city.

Doha is in Qatar.
  It has a population of about 796947 people.
  The Museum Of Islamic Arts is interesting fact about this city.

London is in England.
  It has a population of about 14040163 people.
  The Big Ben is interesting fact about this city.

Ex : 4
Write a Python script to concatenate following dictionaries to create a new one. Go to the editor

OUTPUT
Sample Dictionary :

dic1={1:10, 2:20}

dic2={3:30, 4:40}

dic3={5:50,6:60}

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [10]:
dic1={1:10, 2:20}  
dic2={3:30, 4:40}  
dic3={5:50,6:60}  
dic4 = {}  
for d in (dic1, dic2, dic3): dic4.update(d)  
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

Ex : 5
Write a Python program to create a dictionary from a string. Note: Track the count of the letters from the string.

OUTPUT
Sample string : 'Dictionaries'

Expected output: {'D': 1, 'i': 3, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1 , 'e' : 1 , 's' : 1}

In [12]:
sample_string= 'Dictionaries' 
string_dict = {}
for letter in sample_string:
    string_dict[letter] = string_dict.get(letter, 0) + 1
print(string_dict)

{'D': 1, 'i': 3, 'c': 1, 't': 1, 'o': 1, 'n': 1, 'a': 1, 'r': 1, 'e': 1, 's': 1}

Ex : 6
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

OUTPUT
{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}

15

25

35

x has value [11, 12, 13, 14, 15, 16, 17, 18, 19]

y has value [21, 22, 23, 24, 25, 26, 27, 28, 29]

z has value [31, 32, 33, 34, 35, 36, 37, 38, 39]

In [15]:
from pprint import pprint
dict_nums = dict(x=list(range(11, 20)), y=list(range(21, 30)), z=list(range(31, 40)))
pprint(dict_nums)
print(dict_nums["x"][4])
print(dict_nums["y"][4])
print(dict_nums["z"][4])
for k,v in dict_nums.items():
   print(k, "has value", v)

{'x': [11, 12, 13, 14, 15, 16, 17, 18, 19],
 'y': [21, 22, 23, 24, 25, 26, 27, 28, 29],
 'z': [31, 32, 33, 34, 35, 36, 37, 38, 39]}
15
25
35
x has value [11, 12, 13, 14, 15, 16, 17, 18, 19]
y has value [21, 22, 23, 24, 25, 26, 27, 28, 29]
z has value [31, 32, 33, 34, 35, 36, 37, 38, 39]

Ex : 7a
Create a new dictionary called prices

Put these values in your prices dictionary: "banana": 4, "apple": 2, "orange": 1.5, "pear": 3
Loop through each key in prices. For each key, print out the key along with its price
Check whether the topping is in the list . If yes , Recall the order else ask for another one .
OUTPUT :
banana
price : 4
apple
price: 2

In [19]:
prices = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}
for key in prices:
    print (key)
    print( "price: %s" % prices[key])

banana
price: 4
apple
price: 2
orange
price: 1.5
pear
price: 3

Ex : 7b
Let's determine how much money you would make if you sold all of your food.

Create a variable called total and set it to zero.
Loop through the prices dictionaries.For each key in prices, multiply the number in prices by the number in stock.
Print that value into the console and then add it to total.
Finally, outside your loop, print total.

In [66]:
prices = {
    "banana": 4,
    "apple": 2,
    "orange": 1.5,
    "pear": 3
}
stock = {
    "banana": 6,
    "apple": 0,
    "orange": 32,
    "pear": 15
}
    
print (prices, "\n",stock)
    
total = 0
for key in prices:
    print (key,prices[key] * stock[key])
    total = total + prices[key] * stock[key]

print ("Total = ",total)

{'banana': 4, 'apple': 2, 'orange': 1.5, 'pear': 3}
 {'banana': 6, 'apple': 0, 'orange': 32, 'pear': 15}
banana 24
apple 0
orange 48.0
pear 45
Total =  117.0

Ex : 8 (OPTIONAL)

Count the number of occurrence of each letter in word "MISSISSIPPI". Store count of every letter with the letter in a dictionary.

In [69]:
count = {"M":0,"I":0,"S":0,"P":0}
word = "MISSISSIPPI"
for i in word:
    if i == "M":
        count['M'] = count['M']+1
    elif i == "I":
        count['I'] = count['I']+1
    elif i == "S":
        count['S'] = count['S']+1
    elif i == "P":
        count['P'] = count['P']+1
print (count)

{'M': 1, 'I': 4, 'S': 4, 'P': 2}

Ex : 9
Given a dictionary, the task is to filter all the negative values from given dictionary dict = {'a':1, 'b':-2, 'c':-3, 'd':7, 'e':0}

OUTPUT :
resultant dictionary : {'a': 1, 'd': 7, 'e': 0}

In [91]:
dict = {'a':1, 'b':-2, 'c':-3, 'd':7, 'e':0}

EX : 10
Given a Dictionary. The task is to print the dictionary in the table format.

Input:
{1: [“Samuel”, 21, ‘Data Structures’],2: [“Richie”, 20, ‘Machine Learning’],3: [“Lauren”, 21, ‘OOPS with java’],}

Output:
image.png

In [70]:
# Defining the dictionary 
dict ={} 
  
# Inserting data into dicitonary 
dict1 = {1: ["Samuel", 21, 'Data Structures'], 
     2: ["Richie", 20, 'Machine Learning'], 
     3: ["Lauren", 21, 'OOPS with java'], 
     } 
  
# Printing the names of the columns. 
print ("{:<10} {:<10} {:<10}".format('NAME', 'AGE', 'COURSE')) 
  
# printing each data item. 
for key, value in dict1.items(): 
    name, age, course = value 
    print ("{:<10} {:<10} {:<10}".format(name, age, course))

NAME       AGE        COURSE
Samuel     21         Data Structures
Richie     20         Machine Learning
Lauren     21         OOPS with java